body{
    font-family:arial, sans-serif;

}
h1{
    font-size:2rem;
    text-align:center;

}

div{
    display:flex;
    justify-content:center;
    margin-top:5vh;
}
input{
    outline:none;
}
@media (prefers-color-scheme:dark){
    body{
        background-color: darkslategray;
        color:white;
    };
} 